@charset "utf-8";
/* font-face */
/* A-OTF-ShinGoPr5 */
@font-face {
  font-family: 'ShinGo_Regular';
  src: url('ShinGoPr5-Regular-AlphaNum.eot?#iefix') format('embedded-opentype'),
  		url('ShinGoPr5-Regular-AlphaNum.otf')  format('opentype'),
	     url('ShinGoPr5-Regular-AlphaNum.woff') format('woff'),
		 url('ShinGoPr5-Regular-AlphaNum.ttf')  format('truetype'),
		 url('ShinGoPr5-Regular-AlphaNum.svg#ShinGoPr5-Regular-AlphaNum') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ShinGo_ExLight';
  src: url('ShinGoPr5-ExLight-AlphaNum.eot?#iefix') format('embedded-opentype'),
  		url('ShinGoPr5-ExLight-AlphaNum.otf')  format('opentype'),
	   url('ShinGoPr5-ExLight-AlphaNum.woff') format('woff'),
	   url('ShinGoPr5-ExLight-AlphaNum.ttf')  format('truetype'),
	   url('ShinGoPr5-ExLight-AlphaNum.svg#ShinGoPr5-ExLight-AlphaNum') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ShinGo_Light';
  src: url('ShinGoPr5-Light-AlphaNum.eot?#iefix') format('embedded-opentype'),
  		url('ShinGoPr5-Light-AlphaNum.otf')  format('opentype'),
	     url('ShinGoPr5-Light-AlphaNum.woff') format('woff'),
		 url('ShinGoPr5-Light-AlphaNum.ttf')  format('truetype'),
		 url('ShinGoPr5-Light-AlphaNum.svg#ShinGoPr5-Light-AlphaNum') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* GOTHIC */
@font-face {
	font-family: 'GOTHIC_Regular';
	src: url('GOTHIC_1.eot');
	src: url('GOTHIC_1.eot') format('embedded-opentype'),
	     url('GOTHIC_1.woff2') format('woff2'),
	     url('GOTHIC_1.woff') format('woff'),
	     url('GOTHIC_1.ttf') format('truetype'),
	     url('GOTHIC_1.svg#GOTHIC_1') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GOTHIC_Bold';
	src: url('GOTHICB_1.eot');
	src: url('GOTHICB_1.eot') format('embedded-opentype'),
	     url('GOTHICB_1.woff2') format('woff2'),
	     url('GOTHICB_1.woff') format('woff'),
	     url('GOTHICB_1.ttf') format('truetype'),
	     url('GOTHICB_1.svg#GOTHICB_1') format('svg');
	font-weight: normal;
	font-style: normal;
}